django
django-annoying
django-bootstrap3
django-bootstrap-themes
django-extensions
django-ckeditor
whitenoise
django-tables2
mysqlclient
django-contact-form
django-widget-tweaks
django-recaptcha2

# Debugging
django-debug-toolbar