django
django-annoying
django-bootstrap3
django-bootstrap-themes
django-extensions
django-ckeditor-5
whitenoise
django-tables2
django-contact-form
django-widget-tweaks
gunicorn
django-allow-cidr

# Debugging
django-debug-toolbar