{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block title %}Contact Us{% endblock %}
{% block content %}

{% if form.errors %}
<p>Problem!</p>
{% endif %}

<form method="post" action="{% url 'contact_form' %}" class="form-horizontal">
{% csrf_token %}
    <div class="form-group">
        <label for="id_name" class="control-label col-sm-2">{{ form.name.label }}:</label>
        <div class="controls col-sm-10">
            {{ form.name|add_class:"form-control col-sm-10" }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_email" class="control-label col-sm-2">{{ form.email.label }}:</label>
        <div class="controls col-sm-10">
            {{ form.email|add_class:"form-control col-sm-10" }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_body" class="control-label col-sm-2">{{ form.body.label }}:</label>
        <div class="controls col-sm-10">
            {{ form.body|add_class:"form-control col-sm-10" }}
        </div>
    </div>
<input type="submit" value="Send" class="btn btn-primary btn-lg sm-col-12" />
</form>

{% endblock %}