{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username" class="control-label col-sm-2">{{ form.username.label }}:</label>
        <div class="controls col-sm-10">
            {{ form.username|add_class:"form-control col-sm-10" }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_password" class="control-label col-sm-2">{{ form.password.label }}:</label>
        <div class="controls col-sm-10">
            {{ form.password|add_class:"form-control col-sm-10" }}
        </div>
    </div>
    <input type="submit" value="login" class="btn btn-primary btn-lg sm-col-12" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}