{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/quotes.css' %}"type="text/css" media="screen"/>
{% if quote.title %}<h1 class="quote_title">{{ quote.title }}</h1>{% endif %}
{% if quote.subtitle %}<h2 class="quote_subtitle">{{ quote.subtitle }}</h2>{% endif %}
<div id="quote_content" class="row quote_content" quote_id="{{ quote.id }}">
    {% autoescape off %}{{ quote.content }}{% endautoescape %}
</div>
{% if quote.category %}<div class="row quote_category"><b>{{ quote.category.name }}</b></div>{% endif %}
<div id="quote_stats" class="row top20">
    <div class="stat col-xs-4 col-md-2">Views <span class="badge">{{ quote.views }}</span></div>
    <div class="stat col-xs-4 stat col-md-2">Likes <span class="badge">{{ quote.likes }}</span></div>
    <div class="stat col-xs-4 stat col-md-2">Dislikes <span class="badge">{{ quote.dislikes }}</span></div>
</div>
{# TODO: Use bootstrap flexbox styling #}
<div id="quote_sentiments" class="row top5 quote_sentiment">
    <div class="stat col-xs-4 col-md-2"></div>
    <div class="stat col-xs-4 col-md-2">
        <i id="button_like" value="like" class="btn btn-xs btn-default glyphicon glyphicon-thumbs-up"></i>
    </div>
    <div class="stat col-xs-4 col-md-2">
         <i id="button_dislike" value="dislike" class="btn btn-xs btn-default glyphicon glyphicon-thumbs-down"></i>
    </div>
</div>